HELP.md
gradle-app.setting
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
.gradletasknamecache

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.jar
manifest.mf
/out/
.idea/
.shelf/
.stash/
target/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
